body {
font-family: Comic Sans MS; 
font-size: 100%;
background-color : #FFFF00;
color: darkred; 
}
h1 {
font-size: 200%; 
color: red; 
}
a {
color: green;
}
img {
margin-left: 10px;
}
#chat {
    width: 600px;
    margin-left: 10px;
    font-family: sans-serif;
}

#messages {
    border: 1px solid #ccc;
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
}

#formulaire {
    padding: 10px;
    text-align: left;
}

#formulaire input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px;
    width: 80%;
}

#formulaire button[type="submit"] {
    border: none;
    border-radius: 3px;
    padding: 8px;
    background-color: #008000;
    color: #008000;
}
